@import url('https://fonts.cdnfonts.com/css/circe-rounded');
:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: pink;
  --font-roboto: 'Circe Rounded'
    /* --font-roboto: "Roboto"; */
}